<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832592804885-lpo5d2vgkq2pa364qph2j0evg812c92c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832592804885-lpo5d2vgkq2pa364qph2j0evg812c92c</string>
	<key>API_KEY</key>
	<string>AIzaSyD4neJvlHp0uEaW7PC6m0QbQl0z4H8C_HI</string>
	<key>GCM_SENDER_ID</key>
	<string>832592804885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nouhben.chattSquad</string>
	<key>PROJECT_ID</key>
	<string>chatt-squad</string>
	<key>STORAGE_BUCKET</key>
	<string>chatt-squad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832592804885:ios:8030b1a393e8786b62a21c</string>
	<key>DATABASE_URL</key>
	<string>https://chatt-squad.firebaseio.com</string>
</dict>
</plist>